@using Calobye.Utils
@model List<Calobye.Models.CATEGORY>
@{
	ViewBag.Title = "Category";
	ViewBag.categoryActive = "active";
}

<main id="main" class="main">
	<div class="pagetitle">
		<h1>Categories Management</h1>
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
				<li class="breadcrumb-item active">Category</li>
			</ol>
		</nav>
	</div>
	<section class="section">
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<div class="d-flex align-items-center justify-content-between">
							<h5 class="card-title">Category</h5>
							<div>
								<a href="@Url.Action("CreateCategory", "Category", new { area="Admin" })" class="btn btn-primary">New Category</a>
							</div>
						</div>

						<table class="table datatable">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Title</th>
									<th scope="col">Slug</th>
									<th scope="col">Parent</th>
									<th scope="col">Actions</th>
								</tr>
							</thead>
							<tbody>
								@for (int i = 0; i < (Model.Count); ++i)
								{
									<tr>
										<th scope="row" style="vertical-align: middle">@(i + 1)</th>
										<td style="vertical-align: middle">@Model.ElementAt(i).TITLE</td>
										<td style="vertical-align: middle">@Model.ElementAt(i).SLUG</td>
										<td style="vertical-align: middle">
											@if(Model.ElementAt(i).PARENT_ID == null)
											{
												<span class="fw-bold" style="color: green">PARENT</span>
											}	
										</td>
										<td style="vertical-align: middle">
											<div class="dropdown">
												<a class="btn bg-white border dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
													Action
												</a>
												<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
													<li><a href="@Url.Action("EditCategory", "Category", new { category_id=Model.ElementAt(i).ID})" class="dropdown-item">Detail</a></li>
													<li><a href="@Url.Action("DeleteCategory", "Category", new { category_id=Model.ElementAt(i).ID})" class="dropdown-item">Delete</a></li>

												</ul>
											</div>
										</td>
									</tr>

								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	

	</section>
</main>

