
@{
    ViewBag.Title = "Đăng nhập thành viên";
}

<section class="pb-20 bg-slate-50">
	<!-- Begin: login  -->
	<div class="h-full flex justify-center py-10">
		<div class="bg-white border-2 border-white_smoke_2 flex flex-col w-c-md pb-10">
			<!-- Begin: Header login -->
			<div class="flex flex-col">
				<div class="max-w-[350px] w-full mx-auto mt-5 px-5">
					<div class="text-center block font-bold text-[25px] text-rosy_pink my-5">Đăng nhập thành viên</div>
					<div class="mt-10">
						<p class="text-red-500 mt-2 ml-2 text-center">@ViewBag.result @ViewBag.message</p>
					</div>
					@using (Html.BeginForm())
					{
						@Html.AntiForgeryToken()
						<div class="mt-6">
							<div class="text-sm">
								<label for="username" class="block basis-2/6 font-semibold mb-2">Tên đăng nhập:</label>
								<input type="text"
											 id="username"
											 name="username"
											 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-600 transition-all duration-100 focus:border-rosy_pink block p-2.5 w-full"
											 placeholder="abc@123"
											 required
											 autocomplete="off" />
								<p class="text-red-500 mt-2 ml-2">@ViewBag.validateUsername</p>
							</div>
						</div>
						<div class="mt-5">
							<div class="text-sm">
								<label for="password" class="block basis-2/6 font-semibold mb-2">Mật khẩu:</label>
								<div class="relative">
									<input type="password"
												 id="password"
												 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-600 transition-all duration-100 focus:border-rosy_pink block p-2.5 w-full"
												 placeholder="******"
												 name="password"
												 required
												 autocomplete="off" 
									/>
									<div id="show-password" class="cursor-pointer absolute top-1/2 -translate-y-1/2 right-4">
										@*<i class="fa-solid fa-eye"></i>*@
										<i class="fa-solid fa-eye-slash"></i>
									</div>
								</div>
								<p class="text-red-500 mt-2 ml-2">@ViewBag.validatePassword</p>
							</div>
						</div>

						<div class="w-full flex justify-center">
							<button class="w-full sm:w-[50%] font-semibold text-base bg-rose-500 text-white py-4 mt-8 rounded-lg">
								Đăng nhập
							</button>
						</div>
					}
					<div class="border-b mt-10 flex items-center pb-2 text-sm">
						<div class="w-1/2 text-center border-r text-judge_grey font-bold">
							<a href="/auth/forgot-password">Quên mật khẩu</a>
						</div>
						<div class="w-1/2 text-center text-rosy_pink font-bold">
							<a href="/auth/register">Đăng ký</a>
						</div>
					</div>
				</div>
			</div>
			<!-- End: Header login -->
		</div>
	</div>
	<!-- End: login  -->
</section>

