
@{
	ViewBag.Title = "Login";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";

	var wasValidated = "";

	if(ViewBag.isError != null)
	{
		wasValidated = ViewBag.isError ? "was-validated" : "";
	}
}

<main>
	<div class="container">
		<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
						<div class="d-flex justify-content-center py-4"> <a href="@Url.Action("Index", "Home")" class="logo d-flex align-items-center w-auto"> <img src="~/Areas/Admin/Assets/img/logo.png" alt=""> <span class="d-none d-lg-block">Admin Calobye</span> </a></div>
						<div class="card mb-3">
							<div class="card-body">
								<div class="pt-4 pb-2">
									<h5 class="card-title text-center pb-0 fs-4">Login to Your Account Admin</h5>
									<p class="text-center small">Enter your email & password to login</p>
								</div>
								@using (Html.BeginForm("login", "Auth", new { area = "admin" }, FormMethod.Post, new { @class = $"row g-3 needs-validation {wasValidated}", novalidate = "false" }))
								{
									@Html.AntiForgeryToken()
									<div class="col-12">
										<label for="yourEmail" class="form-label">Email</label>
										<div class="input-group has-validation">
											<span class="input-group-text" id="inputGroupPrepend">@@</span>
											<input type="text" name="email" autocomplete="off" class="form-control" id="yourEmail" value="calobyeadmin.asia@gmail.com" required>

											<div class="invalid-feedback">@ViewBag.validateEmail</div>
										</div>
									</div>
									<div class="col-12">
										<label for="yourPassword" class="form-label">Password</label>
										<input type="password" name="password" value="admin" autocomplete="off" class="form-control" id="yourPassword" required>
										<div class="invalid-feedback"> @ViewBag.validatePassword</div>
									</div>
									
									<div class="col-12">
										<button class="btn btn-primary w-100" type="submit">Login</button>
									</div>
									<div class="col-12">
										<p class="small mb-0">Back to <a href="@Url.Action("Index", "Home", new { area="" })">Customer Page</a></p>
									</div>
								}
							</div>
						</div>
					</div>
				</div>
			</div>
			@using Calobye.Utils
			@if (ViewBag.isShowToast != null)
			{
				@Html.Toast()
			}
		</section>
	</div>
</main>

