@model Calobye.Models.CUSTOMER

@{
	ViewBag.Title = "Đổi mật khẩu - Calobye";
}

<section class="pb-20">
	<!-- ! RENDER_BODY() -->
	<div class="relative w-full custom_lg:w-75 flex flex-col text-[12px] py-[30px] px-0 md:px-4 custom_lg:mx-auto my-4 border border-very_light_gray_2">
		<div class="flex flex-row">
			<h2 class="text-xl custom-lg:text-2xl pl-3 font-bold">
				<span class="w-[3px] bg-black h-[20px] inline-block align-middle mr-[13px] mt-[-3px]"></span>Đổi mật khẩu
				thành viên
			</h2>
		</div>
		<div class="flex flex-col w-full">
			<div class="w-full overflow-x-auto">
				<div class="py-2 inline-block min-w-full">
					<div class="overflow-hidden">
						@using (Html.BeginForm("changePassword", "User", FormMethod.Post, new { autocomplete = "off", @class = "flex flex-col" }))
						{
							@Html.AntiForgeryToken()
							<table class="table-auto min-w-full border text-center">
								<tbody>
									<tr class="border-b">
										<td class="px-3 md:px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-900 border-r">Tên</td>
										<td class="text-sm text-gray-900 font-light px-6 whitespace-nowrap border-r py-3">
											<div class="flex">
												<span>@Model.FIRST_NAME @Model.LAST_NAME</span>
											</div>
										</td>
									</tr>
									<tr class="bg-white border-b">
										<td class="px-3 md:px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-900 border-r">Mật khẩu cũ</td>
										<td class="text-sm text-gray-900 font-light px-6 whitespace-nowrap py-3">
											<div class="flex w-full items-center text-sm">
												<input class="basis-4/6 h-[44px] mr-2 border-white_smoke_2 border-2 pl-2 focus:border-rose-400"
															 autocomplete="off"
															 name="password_old"
															 id="password_old"
															 type="password" />
											</div>
										</td>
									</tr>
									<tr class="bg-white border-b">
										<td class="px-3 md:px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-900 border-r">
											Mật khẩu mới
										</td>
										<td class="text-sm text-gray-900 font-light px-6 whitespace-nowrap py-3">
											<div class="flex w-full items-center text-sm">
												<input class="basis-4/6 h-[44px] mr-2 border-white_smoke_2 border-2 pl-2 focus:border-rose-400"
															 autocomplete="off"
															 name="password_new"
															 id="password_new"
															 type="password" />
											</div>
										</td>
									</tr>
									<tr class="bg-white border-b">
										<td class="px-3 md:px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-900 border-r">Nhập lại mật khẩu mới</td>
										<td class="text-sm text-gray-900 font-light px-6 whitespace-nowrap py-3">
											<div class="flex w-full items-center text-sm">
												<input class="basis-4/6 h-[44px] mr-2 border-white_smoke_2 border-2 pl-2 focus:border-rose-400"
															 autocomplete="off"
															 name="password_new_again"
															 id="password_new_again"
															 type="password" />
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<!-- <div class="hidden">
			<input
				class="basis-4/6 h-[44px] mr-2 border-white_smoke_2 border-2 pl-2 focus:border-rose-400"
				autocomplete="off"
				name="id"
				id="id"
				type="text"
			/>
		</div> -->
							<div class="text-center py-3 text-sm text-red-500 px-3">
								<span>@ViewBag.validate</span>
							</div>
							<div class="text-center py-3 text-sm px-3" style="color: green">
								<span>@ViewBag.changeSuccess</span>
							</div>
							<div class="w-full flex justify-center">
								<button type="submit"
												class="max-w-[585px] min-[160px] px-6 font-semibold text-base bg-black text-white py-4 my-5">
									Đổi mật khẩu
								</button>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

